body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

span.counter {
  border: 3px solid black;
  border-radius: 8px;
  color: black;
  display: block;
  margin: auto;
  margin-bottom: 200px;
  width: 50%;
  padding: 10px;
  text-align: center;
}

button {
  border-radius: 8px;
  color: white;
  display: block;
  margin: auto;
  width: 50%;
  padding: 10px;
  font-size: 1.5em;
}

.increment {
  background: green;
}

.decrement {
  background: orange;
}
